<html>
   <head>
      <title></title>
   </head>
   
   <body style="width: 950px;margin: auto;border: 1px solid #bbb;"></body>


<div id="left_column" style="width: 160px;height: 700px;margin-top: 20px;margin-left: 20px;">
   <div id="headline" style="font-size:16px;font-family: arial;border:2px solid #bbb">
      <a href="http://localhost/test/dashboard/dashboard.php">
         zur&uuml;ck zur &Uuml;bersicht
      </a>
   </div>
   <div id="menu_left" style="margin-top: 15px;border:1px solid #bbb;">
      <table style="text-align: center;" border="1" width="100%">
         <tr><td><a href="http://localhost/test/dashboard/dashboard.php?tmpl=building"><b>Geb&auml;ude</b></a></td></tr>
         <tr><td><a href="http://localhost/test/dashboard/dashboard.php?tmpl=fleets">Flotten</a></td></tr>
         <tr><td><a href="http://localhost/test/dashboard/dashboard.php?tmpl=ressources">Ressourcen</a></td></tr>
         <tr><td><a href="http://localhost/test/dashboard/dashboard.php?tmpl=messages">Nachrichten</a></td></tr>
      </table>
      
   </div>
</div>

   </html>